.app {
    display: flex;
    height: 100vh;
  }
  
  .navbar_component {
    width: 14%;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .dashboard {
    width: 86%;
    padding: 20px;
    background-color: #fff;
  }
  